@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {box-sizing: border-box}

/* Login form styling */
#logForm{
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=number] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/Login button */
.loginbtn {
  font-family: "Gloria Hallelujah", cursive;
  background-color: skyblue;
  border-radius: 40%;
  color: white;
  font-size: larger;
  border: none;
  cursor: pointer;
  width: 60%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  opacity: 0.9;
}

/* Set a grey background color and center the text of the "Login" section */
.login {
  background-color: #f1f1f1;
  text-align: center;
}

/* Login Title */
.loginTitle {
  display: flex;
  justify-content: center;
}

/* Container holding all the login things (login table, input boxes, submit button) */
#logMain{
  height: 100vh;
  background-image: url('../../images/piedmontpark.jpg');
  background-size: cover;
}

/* Container holding all the input boxes */
.logcontainer{
  color: lightpink;
  border: solid lightpink 10px;
  border-radius: 15px;
  background-color: gray;
  width: 35%;
  padding: 15px;
}

/* Link color */
.link {
  color: skyblue;
  text-decoration: none;
  padding-left: 1%;
}