@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Sidebar nav styling */
#sidebar{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 600;
    font-style: normal;
    background-color: lightpink; 
    border: 3px solid black;
}

/* Sidebar nav button */
.sb-button{
    border-radius: 5px;
    background-color: skyblue; 
    padding: 1%;
    box-shadow: 0 0 3px 3px white;
    border: 2px solid black;
}

.css-m0qamy {
    border: solid black 5px;
    border-radius: 10px;
}